 <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="index.html" class="brand-logo">
                <img class="logo-abbr" src="/admin-temp/images/logo.png" alt="">
                <img class="logo-compact" src="/admin-temp/images/logo-text.png" alt="">
                <img class="brand-title" src="/admin-temp/images/logo-text.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="search_bar dropdown">
                               
                            </div>
                        </div>

                        <ul class="navbar-nav header-right">
                           
                            <li class="nav-item dropdown header-profile">
                                <a href="/vendor/vendorProfile" class="dropdown-item">
                                        <i class="icon-user"></i>
                                        <span class="ml-2">Profile </span>
                                    </a>
                                <div class="dropdown dropdown-menu-right">
                                    
                                    <a href="/vendor/vendorLogout" class="dropdown-item">
                                        <i class="icon-key"></i>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Main Menu</li>
                   
                    <li><a href="/vendor" aria-expanded="false"><i class="icon icon-single-04"></i><span
                                class="nav-text">Dashboard</span></a></li>
                    <li><a href="/vendor/showRooms" aria-expanded="false"><i class="icon icon-globe-2"></i><span
                                class="nav-text">Listed Rooms</span></a></li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-single-04"></i><span class="nav-text">ADD/EDIT ROOMS</span></a>
                        <ul aria-expanded="false">
                            <li><a href="/vendor/addRoom?type=Suite Room">Add/Edit Suite room</a></li>
                            <li><a href="/vendor/addRoom?type=Super Delux">Add/Edit Super Delux</a></li>
                            <li><a href="/vendor/addRoom?type=Delux">Add/Edit  Delux</a></li>
                            <li><a href="/vendor/addRoom?type=Standard">Add/Edit standard</a></li>
                        </ul>
                    </li>
                     <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-single-04"></i><span class="nav-text">Bookings</span></a>
                        <ul aria-expanded="false">
                            <li><a href="/vendor/todayBooking">Todays bookings</a></li>
                            <li><a href="/vendor/upcomingBooking">Upcoming bookings</a></li>
                            <li><a href="/vendor/checkedinBooking">Checked In</a></li>
                            <li><a href="/vendor/pastBooking">Past Bookings</a></li>
                        </ul>
                    </li>
                    
                    <li><a href="/vendor/vendorCoupons" aria-expanded="false"><i class="icon icon-globe-2"></i><span
                                class="nav-text">Coupons</span></a></li>
                    <li><a href="/vendor/vendorOffers" aria-expanded="false"><i class="icon icon-globe-2"></i><span
                                class="nav-text">Offers</span></a></li>

                   
                        </ul>
                    </li>
                </ul>
            </div>


        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->