<div style="margin-top: 40px;">
    <div class="container" style=" margin-top: 100px;padding: 0%;">
       
        <div class="db-profile" style="margin-top:50px">
            

             <img src="/success.png" alt="" style="">

            <h4 style="font-size:25PX;">THANK YOU FOR THE BOOKING</h4>

        </div>
        <div class="db-profile-edit" style="padding: 0%;">
            <form class="col s12" action="/editProfile" method="post">
                <div>
                    <label class="col s4" style="text-align: center;">From: {{resp.from}}</label>
                    <label class="col s4" style="text-align: center;">To:  {{resp.to}}</label>
                    <label class="col s4" style="text-align: center;">Days: {{resp.days}}</label>
                    <label class="col s4" style="text-align: center;">Rooms:  {{resp.room}}</label>

                </div>

                <a href="/" class="btn btn-success" style="width: 200px;height: 40px;padding-top: 10px;">Go to Home Page</a>



            </form>
        </div>
    </div>
</div>
</div>