
    
    <div  style="margin-top: 60px;">
        <div class="container">

        
        <div class="db-profile-edit" >
            <form class="col s12" action="/updatePassword?id={{id}}" method="post">
                <div>
                    <h2>Change Password</h2>
                    {{#if error}}
                    <p style="color: red;text-align: center;">Current password is incorrect</p>
                    {{/if}}
                </div>
                <div>
                    <label class="col s4">Current Password</label>
                    <div class="input-field col s8">
                        <input type="text" value="" class="validate" name="currentPassword" >
                    </div>
                </div>
                <div>
                    <label class="col s4">New Password</label>
                    <div class="input-field col s8">
                        <input type="text" value="" class="validate" name="newPassword" >
                    </div>
                </div>
                <div>
                    <label class="col s4">Confirm New Password</label>
                    <div class="input-field col s8">
                        <input type="text" value="" class="validate" name="confirmNewpassword">
                    </div>
                </div>

              
                <div>
                   
                    <div class="input-field col s8">
                        <input type="submit" value="update password" class="waves-effect waves-light pro-sub-btn"
                            id="pro-sub-btn">
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>
